:root {
  --primary-color: #20225E;
  --app-bg: #EEF3F9;
}

.App {
  text-align: center;

}



@media (prefers-reduced-motion: no-preference) {
  .loading-animation {
    animation: loading-animation-spin infinite 0.5s linear;
  }
}

.App-section {
  background-color: var(--app-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes loading-animation-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
